src/LEDAnAusNodeRed.json
[{"id":"2c6cb491.f7d40c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"55cb5340.e7a92c","type":"rpi-gpio out","z":"2c6cb491.f7d40c","name":"","pin":"26","set":"","level":"0","freq":"","out":"out","x":520,"y":920,"wires":[]},{"id":"e28208e2.0fb8a8","type":"inject","z":"2c6cb491.f7d40c","name":"LED an","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":860,"wires":[["55cb5340.e7a92c","9323377a.03fd48"]]},{"id":"9108ce02.0e08","type":"inject","z":"2c6cb491.f7d40c","name":"LED aus","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1020,"wires":[["55cb5340.e7a92c","9323377a.03fd48"]]},{"id":"9323377a.03fd48","type":"debug","z":"2c6cb491.f7d40c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":1160,"wires":[]}]